# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz

# Entornos virtuales
venv/
env/
.env/
.venv/

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.code-workspace

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Archivos de distribución
*.egg-info/
dist/
build/
*.egg

# Base de datos SQLite
*.sqlite3

# pycache
*.pyc
